include ../atoms/plaque.jade

mixin card(cardInfo)
    div(class="card card--#{cardInfo.type}" + (cardInfo.isFavorite ? " card--favorite" : ''))
        .card__icon.card__icon--favorite
            svg
                use(xlink:href="./images/sprite.svg#close-black")
        .card__icon.card__icon--heart
            svg
                use(xlink:href="./images/sprite.svg#heart-black")
        if cardInfo.isPlaque
            +plaque(cardInfo.plaqueTopText, cardInfo.plaqueBottomText)
        a.card__img(href="#{cardInfo.href}")
            img(src=cardInfo.imgSrc, srcset=cardInfo.imgSrcset alt=cardInfo.imgAlt)
        a.card__info(href="#{cardInfo.href}")
            .card__info-title= cardInfo.title
            .price.card__info-price= cardInfo.price